html {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    touch-action: none;
}

body {
    background-color: #161718;
    --main-ui-color: white;
    --main-ui-bg1: #125185B0;
    --main-ui-bg-btn: #164c79;
    --main-ui-bg-btn-active: #2b72ac;
}

#render-canvas {
    width: 100%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    outline: none;
    border: none;
    z-index: 0;
}

x-axis-input {
    position: fixed;
    bottom: 2vh;
    width: 25vh;
    left: calc((100vw - 25vh) * 0.5);
}

.page {
    display: block;
    position: fixed;
    padding: 0;
    margin: 0;
    width: min(100vw, 100svh);
    height: 100%;
    top: 0;
    left: calc((100vw - min(100vw, 100svh)) * 0.5);
    text-align: center;
    outline: 1px solid black;
}

.input-button {
    font-family: Julee;
    position: fixed;
    display: block;
    bottom: 16px;
    width: 70px;
    height: 70px;
    border-radius: 30px;
    background-color: #5c8b93ff;
    border: 2px solid #2b2821ff;
    font-size: 60px;
    padding: 0;
    transition: all 0.3s;
}

.button-frame {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 19px;
    background-color: #624c3cff;
    border: 2px solid #2b2821ff;
    transform: rotate(45deg);
}

button:active {
    margin-bottom: -2px;
    background-color: rgb(74, 117, 124);
    border: 2px solid rgb(65, 61, 51);
}

#input-left {
    right: calc((50vw + 25px));
}

#input-left-frame {
    right: calc((50vw + 28px));
}

#input-right {
    left: calc((50vw + 25px));
}

#input-right-frame {
    left: calc((50vw + 28px));
}

#home {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}

h1 {
    position: relative;
    display: block;
    text-align: center;
    font-size: 70px;
    font-family: Julee;
    font-weight: 900;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

.large-btn {
    position: relative;
    display: block;
    font-size: 40px;
    font-family: Julee;
    border-radius: 10px;
    background-color: #5c8b93ff;
    border: 2px solid #2b2821ff;
    font-weight: 900;
    margin: 20px;
    width: 300px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}

.square-btn-container {
    display: flex;
    flex-direction: column;
    height: 70%;
}

.square-btn-container-line {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.square-btn {
    position: relative;
    display: flex;
    font-size: 20px;
    font-family: Julee;
    border-radius: 10px;
    flex: 1;
    background-color: #5c8b93ff;
    border: 2px solid #2b2821ff;
    font-weight: 900;
    margin: 3px;
}

#click-anywhere-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0f0f0fe0;
    z-index: 10;
    color: white;
}

#click-anywhere-screen .container {
    position: fixed;
    width: min(100svh, 100vw);
    height: min(100svh, 100vw);
    top: calc((100svh - min(100svh, 100vw)) * 0.5);
    left: calc((100vw - min(100svh, 100vw)) * 0.5);
    z-index: 2;
}

#click-anywhere-screen .splash-title {
    position: absolute;
    width: min(50%, 628px);
    top: 5%;
    left: calc((100% - min(50%, 628px)) * 0.5);
    z-index: 2;
}

#click-anywhere-screen .message-description {
    position: absolute;
    top: 28%;
    left: 0;
    width: 100%;
    z-index: 2;
    text-align: center;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: min(3svh, 3vw);
    color: white;
    font-weight: 100;
}

#click-anywhere-screen .white-track {
    position: absolute;
    top: 35%;
    left: 10%;
    width: 80%;
    z-index: 2;
}

#click-anywhere-screen .message-description-2 {
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
    z-index: 2;
    text-align: center;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: min(3svh, 3vw);
    color: white;
    font-weight: 100;
}

#click-anywhere-screen .message-bottom {
    position: absolute;
    bottom: 12%;
    left: 0;
    width: 100%;
    z-index: 2;
    text-align: center;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: min(5svh, 5vw);
    color: white;
    font-weight: 100;
}

#click-anywhere-screen .message-loading {
    position: absolute;
    bottom: 5%;
    left: 20%;
    width: 100%;
    z-index: 2;
    text-align: left;
    font-family: monospace;
    font-size: min(2svh, 2vw);
    color: white;
    font-weight: 100;
}