@font-face {
    font-family: "Julee";
    src: url(fonts/Julee-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Shalimar";
    src: url(fonts/Shalimar-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Bangers";
    src: url(fonts/Bangers-Regular.ttf);
    font-weight: 400;
}