#spawner-editor {
    position: fixed;
    z-index: 3;
    left: 0;
    
    font-family: Xolonium;
    padding: 15px;
    color: var(--main-ui-color);
    background-color: var(--main-ui-bg1);

    height: fit-content;
}

body:not(.vertical) #spawner-editor {
    top: 0;
    outline: 2px solid var(--main-ui-color);
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-right-radius: 20px;
    width: fit-content;
}

body.vertical #spawner-editor {
    bottom: 0;
    outline: 2px solid var(--main-ui-color);
    border-top: 1px solid black;
    width: 100%;
}

#spawner-editor h1 {
    margin: 0;
    margin-bottom: 10px;
}

#spawner-editor .line {
    margin-bottom: 4px;
}

#spawner-editor .label {
    display: inline-block;
    width: 60px;
    vertical-align: text-top;
}

body.vertical #spawner-editor .label {
    font-size: 10px;
    width: 30px;
}