#toolbar {
    position: fixed;
    z-index: 3;
    bottom: 0;
    
    font-family: Xolonium;
    padding: 5px;
    color: var(--main-ui-color);

    height: fit-content;
    text-align: center;
    width: 100%;
}

#toolbar button {
    background-size: contain;
    background-color: black;
}

#toolbar button.play {
    background-image: url("../datas/icons/play.svg");
}

#toolbar button.pause {
    background-image: url("../datas/icons/pause.svg");
}

#toolbar button.stop {
    background-image: url("../datas/icons/stop.svg");
}